{{!-- Please note- I'm having an issue with my linking here. According to my tutor, this should be fine considering my set-up, but my page is not finding the JS or CSS files, which significantly is limiting my ability to troubleshoot the JS functionality or the CSS/design. I have tried literally every single combination I can think of (in terms of ../../ or ./../ or ../ type formatting) and with this current set up, there are no browser errors, its just not loading anything. --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="css" />
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js" type="js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

