<h1>Eat Da Burgers!</h1>

<img src="https://waybackburgers.com/wp-content/uploads/burger-wayback-classic.png" width="100" height="80" alt="BurgerTime"></img>

<h2>BurTESTt!</h2>

<ul>
  {{#each burger}}
    {{#unless devour}}
   {{!--  <p><span class="label">Burger Name:</span> {{this.name}}</p> --}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured and must be remade!</h2>

<ul>
  {{#each burger}}
    {{#if devour}}
    {{!-- <p><span class="label">Burger Name:</span> {{this.name}}</p> --}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Hungry?</label><br>
    <input type="radio" name="devour" value="1" checked> Make Da Burger!<br>
    <input type="radio" name="devour" value="0"> Eat Da Burger!
  </div>

  <button type="submit">Add da burger!</button>
</form>
